:root {
    --verdeoliva: #91ae6f;
    --verdemato: #3fb26d;
    --azulpiscina: #64e8e1;
 
    --gray-200: #f1fffe;
    --gray-400: #505861;
 
    --black-800: #171717;
 
    --white: #000000;
}
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
 
html {
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
}
 
body {
    background-color: var(--gray-200);
    color: var(--black-800);

    /* Exibe as fontes com um traço mais fino e suave (Chrome e Edge) */
    -webkit-font-smoothing: antialiased;

    /* Exibe as fontes com um traço mais fino e suave (Firefox) */
    -moz-osx-font-smoothing: grayscale;
}

button, a{
    cursor: pointer;
}

.botao{

    padding: 0.5rem 2rem;
    border: 1px solid var(--azulpiscina);
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 700;
    color: var(--purple-800);
    background: none;
    text-align: center;
}

.botao:hover{
    background: var(--azulpiscina);
    color: var(--white);
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilização Seção Header */

.menu_container{
    position: sticky;
    top: 0;
    width: 100%;
    height: 5rem;
    background-color: var(--azulpiscina);
    border-bottom: 1px solid var(--verdemato);
    /* Aplica transparência */
    filter: opacity(0.9);
}

.menu_container a{
    color: var(--white);
}

#titulo a{
    font-size: 2.25rem;
}

#titulo a:hover {
    color: var(--verdemato); 
}

.menu_container a:hover{
    color: var(--verdeoliva);
}

.menu_content{
    max-width: 1120px;
    padding: 0 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu_list{
    list-style: none;
    text-align: center;
}

.menu_list li{
    margin-left: 1rem;
}

/* Estilização da seção Home */

.home_container{
    max-width: 1120px;
    margin: 1rem auto;
    padding: 0 1rem;
    height: calc(100vh - 100px); /* Calcula altura do elemento (altura do navegador - altura do menu + 20px) */
}

.home_container p, h1, h4{
    text-align: center;
    font-size: 1rem;
}

.home_container h1{
    font-size: 2.25rem;
    line-height: 3rem;
    font-weight: 700;
}

.home_container h4{
    font-weight: 700;
}

.home_container p{
    margin: 1rem 0;
}

.home_container .botao{
    width: 40%;
}

.home_content{
    width: 50vw;
    flex-direction: column;
}

.home_container img{
    width: 75%;
}

/* Estilização da Seção Home - Página Sucess */

.home_container_sucess {
    height: calc(100vh - 12.5rem);
    max-width: 1120px;
    margin: 1rem auto;
    padding: 0 1rem;
}

#home_sucess {
    width: 50vw;
    flex-direction: column;
}

#home_sucess h1 {
    font-size: 2rem;
    font-weight: 700;
}

#home_sucess h4 {
    font-size: 1.25rem;
    padding: 1rem;
}

/* Estilização da seção Sobre */
.about_container {
    max-width: 1120px;
    margin: -1.25rem auto;
    padding: 0 1rem;
    height: 100vh;
}

.about_container img {
    width: 30%;
    margin: 1rem;
    border: 5px solid var(--purple-500);
    border-radius: 50%;
}

.about_container h2 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 3rem;
    text-align: center;
}

.about_container p {
    margin: 1rem 0;
    text-align: center;
}

.about_github {
    justify-content: space-evenly;
}

#about_texto {
    margin-left: 2rem;
}

#about_github .botao {
    width: 150px;
}

/* Estilização da seção Contato */

.contato_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    max-width: 1120px;
    margin: 4rem auto 2rem;
    padding: 0 2rem;
}

.contato_container h4{
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 700;
}

.contato_content{
    flex-direction: column;
    margin: 4rem 0 0 0;
    font-size: 1.25rem;
}

.contato_content p{
    display: block;
    text-align: justify;
}

/*Estlização da seção redes sociais*/
.social_container{
    display:flex;
    justify-content: space-evenly;
    margin: 2rem 0 0 0;
}

.social_icon{
    width: 4.75rem;
    height: 4.75rem;
}

.social_icon:hover {
    filter: brightness(0) 
            saturate(100%) 
            invert(55%) 
            sepia(18%) 
            saturate(2000%) 
            hue-rotate(170deg) 
            brightness(95%) 
            contrast(105%);
}

/*Estilização da seção Form*/

form{
    display: flex;
    flex-direction: column;
    margin: 7rem 0 0 0;
    padding: 1.25rem;
    border: none;
}

form label{
    font-size: 1.25rem;
    text-align: left;
}

form input, textarea{
    width: 100%;
    margin: 0.5rem 0 1rem;
    padding: 0.5rem;
    border-radius: 20px; 
    border: none;
    font-size: 1rem;
}
textarea{
    resize: none;
}

form span{
    margin-bottom: 0.5rem;
    margin-left: 0.75rem;
    font-size: 0.75rem;
    line-height: 1.25rem;
    color: red;
}


/* Estilização do Rodapé */
footer {
    margin: 0;
    padding: 2rem;
    font-weight: bold;
    text-align: center;
    background-color: var(--azulpiscina);
    color: var(--white);
    filter: opacity(0.9);
}

/*MODO RESPONSIVO*/

/*Smartphone - Telas até 480px*/

@media screen and (max-width: 490px){   
    body{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    } 

    main{
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    footer{
        margin-top: auto
    }

    /*Ajustes no menu*/

    .menu_container{
        height: auto;
        padding: 1rem 0;
    }

    .menu_content{
        justify-content: center;
        max-width: 100%;
    }

    #titulo a{
        font-size: 3rem;
    }

    .menu_list{
        display: none;
    }

    /*Ajustes na Seção Home*/

    .home_container{
        flex-direction: column-reverse;
        width: 100%;
        height: auto;
        margin-top: 2rem;
    }

    .home_content{
        width: 100%;
    }

    .home_content h1{
        font-size: 1.75rem;
        line-height: 2.25rem;
    }

    .home_content .botao, img{
        width: 80%;
    }

    #home_texto{
        margin-top: 0.5rem;
    }

    #home_imagem{
        margin-bottom: 0;;
    }

    /*Ajustes na Seção About*/

    .about_container{
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-top: 3rem;
    }

    .about_container img{
        width: 70px;
    }

    .about_container h1{
        font-size: 1.75rem;
        line-height: 2.25rem;
    }

    .about_github{
        flex-direction: column;
        gap: 0.5rem;
    }

    .sobre_github p{
        display: none;
    }

    .about_github .botao{
        width: 80%;
    }

    /*Ajustes Contato*/

    .contato_container{
        grid-template-columns: 1fr;
        width: 100%;
        height: auto;
        margin-top: 2rem;
        padding: 0 1rem;
    }

    .contato_content{
        width: 100%;
    }

    .contato_content h4{
        font-size: 1.75rem;
        line-height: 2.25rem;
    }

    .contato_content p{
        margin: 1rem;
    }

    /*Ajustes da Seção Redes Sociais*/

    .social_container{
        justify-content: center;
        width: 100%;
    }

    .social_icon{
        width: 4rem;
        height: 4rem;
    }

    /*Ajustes da Seção Form*/

    form{
        margin: 1rem 0 0 0;
        padding: 1rem;
    }


    /* Tablet - Para telas até 960px */

@media screen and (max-width: 960px) {

    body {
        display: flex;
        flex-direction: column;

        /* Altura minima será a altura da tela */
        min-height: 100vh;
    }

    main {

        /* A seção ocupará todo o espaço disponível */
        flex: 1;

        display: flex;
        flex-direction: column;
    }

    footer {
        /* O Footer será "empurrado" para o final da tela */
        margin-top: auto;
    }

    /* Ajustes Home */

    .home_container {
        flex-direction: column-reverse;
        gap: 0;
        height: auto;
        margin-top: 0;
        padding: 32px 16px;
    }

    .home_content {
        width: 100%;
        margin: 0;
    }

    #home_texto {
        margin-top: 1rem;
    }

    #home_imagem {
        margin-bottom: 0;
    }

    .home_content .botao {
        width: 60%;
        margin-top: 1.5rem;
    }

    .home_content_img {
        width: 60%;
    }

    /* Ajustes Sobre */

    .sobre_container {
        flex-direction: column;
        height: auto;
        margin: 0 auto;
        padding: 4rem 1rem;
    }

    .sobre_container img {
        width: 50%;
        margin-bottom: 2rem;
    }

    #sobre_texto {
        margin-left: 0;
        text-align: center;
    }

    /* Ajustes Contato */
    
    .contato_container {
        grid-template-columns: 1fr;
        gap: 2rem;
        margin: 1rem auto;
    }

    .contato_content {
        margin: 1rem 0 0 0;
    }

    form {
        width: 100%;
        margin: 1rem 0 0 0;
    }
}

}